@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #004d40; /* Vert foncé premium */
  --secondary-color: #f8f5f0; /* Beige doux pour un fond chic */
  --dark-color: #222; /* Noir profond */
  --accent-color: #004d40; /* Or */
  --accent-color2: #004136; /* Blanc */
  --yellow: #c9a558; /* Doré élégant */
}

.transition-all {
  transition: all 0.3s ease-in-out;
}

.hover-shadow-xl:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.hover-scale-105:hover {
  transform: scale(1.05);
}

/* Animation fluide du bouton */
.btn-hover:hover {
  background-color: var(--yellow) !important;
  color: black !important;
}
